# Python-related
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/

# Database
*.sqlite3

# Django
*.log
local_settings.py

# Environment variables and secrets
.env*
*.env
pythonanywhere.env

# Others
debug.log

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# MacOS
.DS_Store

# Node
node_modules/

# Coverage
.coverage

# IDE
.idea/

# Logs
*.log

# Ignore environment variable files
.envrc

# Add any other files containing sensitive information here
